{{> menu}}

<form class="ui stacked segment form" action="/reading/{{station.id}}/updatereading/{{reading.id}}" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Code" type="text" name="code" value="{{reading.code}}">
    </div>
    <div class="field">
      <label>Temperature</label>
      <input placeholder="Temperature" type="number" name="temp" value="{{reading.temp}}">
    </div>
    <div class="field">
      <label>WindSpeed</label>
      <input placeholder="00" type="number" name="wind_speed" value="{{reading.wind_speed}}">
    </div>
    <div class="field">
      <label>WindDirection</label>
      <input placeholder="00" type="number" name="wind_dir" value="{{reading.wind_dir}}">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="00" type="number" name="wind_dir" value="{{reading.pressure}}">
    </div>
  </div>
  <button class="ui blue submit button">Update Reading</button>
</form>
